<div class="infos">
  <div class="info">
    <h3>Nest Lettings</h3>
    <p>At Nest we differ from most Letting Agents. Created out of our passion to help those who need it when ever possible. Nest joins forces with Local Authorites and Charities to help those without a NEST of their own.</p>
  </div>

  <div class="info">
    <h3>Our Agents</h3>
    <p>
      Lindsey Fryer<br>
      07553101577<br>
      <a href="mailto:lindsey@nestlettingsltd.co.uk">lindsey@nestlettingsltd.co.uk</a>
    </p>
    <p>
      Louise Scott<br>
      07442228058<br>
      <a href="mailto:louise@nestlettingsltd.co.uk">louise@nestlettingsltd.co.uk</a>
    </p>
  </div>

  <div class="info">
    <h3>Contact Information</h3>
    <p>
      <div class="icon"><i class="fa fa-phone"></i><span>02922 416997</span></div>
      <div class="icon"><i class="fa fa-envelope"></i><span><a href="mailto:hello@nestlettingsltd.co.uk">hello@nestlettingsltd.co.uk</a></span></div>
    </p>
  </div>
</div>
<footer>
  &copy; 2020 Nest Lettings. All Rights Reserved.
</footer>