<div class="infos">
  <div class="info">
    <h3>Nest Lettings</h3>
    <p>At Nest we differ from most Letting Agents. Created out of our passion to help those who need it when ever possible. Nest joins forces with Local Authorites and Charities to help those without a NEST of their own.</p>
  </div>

  <div class="info">
    <h3>Our Agents</h3>
    <p>
      Lindsey Fryer<br>
      07553 101577<br>
      <a href="mailto:lindsey@nest-property.co.uk">lindsey@nest-property.co.uk</a>
    </p>
    <p>
      Beth Evans<br>
      07496 783333<br>
      <a href="mailto:beth@nest-property.co.uk">beth@nest-property.co.uk</a>
    </p>
  </div>

  <div class="info">
    <h3>Contact Information</h3>
    <p>
      <div class="icon"><i class="fa fa-phone"></i><span>07553 101577</span></div>
      <div class="icon"><i class="fa fa-phone"></i><span>07496 783333</span></div>
      <div class="icon"><i class="fa fa-envelope"></i><span><a href="lindsey@nest-property.co.uk">lindsey@nest-property.co.uk</a></span></div>
      <div class="icon"><i class="fa fa-envelope"></i><span><a
            href="beth@nest-property.co.uk">beth@nest-property.co.uk</a></span></div>
    </p>
  </div>
</div>
<footer>
  &copy; 2020 Nest Lettings. All Rights Reserved.
</footer>