nav {
  background: #606060;
  width: 100%;
  height: 145px;

  transition: height 0.5s ease-out;

  &.shown {
    height: 457px;
  }

  @include media-query-lt($on-palm) {
    & {
      display: flex;
    }

    .nav-vis {
      img {
        width: 120px;
        margin-left: 9px;
        margin-top: 7px;
      }
    }

    ul.navbar {
      flex: 1 1 auto;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      justify-content: flex-end;
      align-items: center;

      li {
        display: block;
        width: max-content;
        padding: 10px;
        position: relative;
        
        &, a {
          text-transform: uppercase;
          color: #fff;
          font-weight: bold;
          text-decoration: none;
        }
      }
  
      ul.subnavbar {
        position: absolute;
        width: max-content;
        background: #fff;
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 1;
        top: 39px;
        right: 0px;

        li a {
          color: #333;
          padding: 10px;
          width: 100%;
        }

        li {
          width: auto;
        }

        li:hover {
          background: $main;
        }

        &:hover {
          display: block;
        }
      }
  
      li:hover {
        background: #fff;
        color: #333;

        a {
          color: #333;
        }

        ul.subnavbar {
          display: block;
        }
      }
    }

    .cta {
      border-left: 1px solid white;
      padding: 10px;
      display: flex;
      color: #fff;

      i {
        color: $main;
        font-size: 32pt;
        margin: 10px;
        align-self: center;
      }

      p {
        align-self: center;
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .mobile {
    display: none;
  }

  @include media-query($on-palm) {
    overflow: hidden;
    display: block;

    .nav-vis {
      display: flex;
      background: #606060;
      width: 100%;
    }

    .cta {
      display: none;
    }

    ul.navbar {
      display: flex;
      margin: 0;
      padding: 0;
      flex-direction: column;
      list-style: none;
      height: auto;

      ul.subnavbar {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
        height: auto;
      }
    }

    ul {
      li {
        span {
          display: none;
        }

        a {
          text-decoration: none;
          height: 35px;
          line-height: 35px;
          margin: 2px auto;
          width: 100%;
          text-align: center;
          color: #000;
          background: #fff;
          display: block;
        }
      }
    }

    .mobile {
      font-size: 1.5em;
      display: block;
      color: #777777;
      align-self: self-end;
      margin-right: 20px;
      margin-top: 20px;
      flex: 0 1 auto;
    }

    .logo {
      flex: 1 1 auto;
      align-self: flex-start;
    }

    a {
      img {
        margin: 5px;
        width: 120px;
        height: 130px;
      }
    }
  }
}

header {
  @include media-query($on-palm) {
    display: none;
  }
}